<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://4.bp.blogspot.com/-Fxo_qnGJBj0/WRoDPNdlEII/AAAAAAAABF0/1mSHmv5gleQaCsHKEDgTB3DbNghjCXvZACLcB/s200/logo_firebase_1920px_clr.png">
</div>
<h3>Recovered Task: {{recoveredTask}}</h3>
<h3>Added Task Id: {{addedTaskId}}</h3>
<h3>Added Task With Id Success: {{addedTaskSuccess}}</h3>
<h3>Users:</h3>
<div *ngFor="let user of getMapValues(users)">{{user}}</div>

